In [21]:
import dask.dataframe as dd

In [38]:
path='code.py'
df = dd.read_csv(path , sep='\n', header=None)

In [39]:
df = df.rename(columns={0:'code'})
df.head()

                                                code
0     ######### APENAS EXECUTAR E AGUARDAR #########
1                                          import os
2  os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8...
3  os.environ["SPARK_HOME"] = "/content/spark-2.4...
4                                   import findspark

In [40]:
df['file'] = 'code.py'
df.head()

                                                code     file
0     ######### APENAS EXECUTAR E AGUARDAR #########  code.py
1                                          import os  code.py
2  os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8...  code.py
3  os.environ["SPARK_HOME"] = "/content/spark-2.4...  code.py
4                                   import findspark  code.py

In [42]:
df[df.code.str.contains('import', regex= True, na=False)].head()

                                               code     file
1                                         import os  code.py
4                                  import findspark  code.py
6                                    import pyspark  code.py
7         from pyspark import SparkContext as spark  code.py
8  from pyspark.sql import SparkSession, SQLContext  code.py